$bm-grey: #505050;

.productCard {
  border: 1px solid $bm-grey;
  color: black;
  display: flex;
  flex-direction: column;
  height: 20rem;
  margin: 1rem 0;
  position: relative;
  width: 15rem;

  .productCard_iconButton {
    position: absolute;
    right: 0;
  }

  img {
    border-bottom: 1px solid $bm-grey;
    height: 15rem;
    object-fit: contain;
  }

  .productCard_info {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;

    h4 {
      font-weight: normal;
      letter-spacing: 1px;
      margin: 0.5rem;
      text-align: center;
      word-wrap: break-word;
    }

    h5 {
      color: $bm-grey;
      font-weight: normal;
      margin-bottom: 0.5rem;
      text-align: center;
    }
  }
}

// RESPONSIVE FOR MOBILE SCREEN'S.
@media screen and (max-width: 769px) {
  .productCard {
    height: 12rem;
    margin: 0;
    width: 8rem;

    img {
      height: 8rem;
    }

    .productCard_info {
      overflow-y: scroll;

      h4 {
        font-size: 15px;
        letter-spacing: 0;
        margin: 0;
      }

      h5 {
        margin-bottom: 0;
        margin-top: 0.5rem;
      }
    }
  }
}
