$bm-grey: #505050;

.productCard {
  // border: 1px solid $bm-grey;
  color: black;
  display: flex;
  flex-direction: column;
  // height: 20rem;
  margin: 1rem 0;
  position: relative;
  width: 15rem;

  .productCard_iconButton {
    position: absolute;
    right: 0;
  }

  img {
    // border-bottom: 1px solid $bm-grey;
    height: 15rem;
    object-fit: contain;
  }

  h4 {
    // font-family: 'Raleway', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0.5rem;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  h5 {
    color: $bm-grey;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    margin-bottom: 0.5rem;
    text-align: center;
  }
}

// RESPONSIVE FOR MOBILE SCREEN'S.
@media screen and (max-width: 769px) {
  .productCard {
    margin: 0;
    width: 9rem;

    img {
      height: 9rem;
    }

    h4 {
      font-size: 14px;
      letter-spacing: 0;
      margin: 0.5rem 0.2rem;
    }

    // h5 {
    //    margin-bottom: 0;
    //   margin-bottom: 0.5rem;
    // }
  }
}
